.center-top {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 89, 89);
    font-family: 'Oswald', sans-serif; 
    font-size: 60px;
    padding-left:.5em;
    padding-right:.5em;
  }